In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [2]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [3]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [4]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [5]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [6]:
# Create the SVM model
svm = SVC(kernel='linear')

In [7]:
# Train the model
svm.fit(X_train, y_train)

SVC(kernel='linear')

In [8]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [9]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["acc"])

WARNING:tensorflow:From C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
WARNING:tensorflow:From C:\Users\ous1\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [11]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
22857/22857 [==============================] - 1s 55us/sample - loss: 0.4035 - acc: 0.8726
Epoch 2/50
22857/22857 [==============================] - 1s 49us/sample - loss: 0.3720 - acc: 0.8735
Epoch 3/50
22857/22857 [==============================] - 1s 55us/sample - loss: 0.3692 - acc: 0.8735
Epoch 4/50
22857/22857 [==============================] - 1s 48us/sample - loss: 0.3682 - acc: 0.8735
Epoch 5/50
22857/22857 [==============================] - 2s 83us/sample - loss: 0.3674 - acc: 0.8735
Epoch 6/50
22857/22857 [==============================] - 2s 85us/sample - loss: 0.3669 - acc: 0.8735
Epoch 7/50
22857/22857 [==============================] - 2s 105us/sample - loss: 0.3665 - acc: 0.8735
Epoch 8/50
22857/22857 [==============================] - 2s 68us/sample - loss: 0.3663 - acc: 0.8735
Epoch 9/50
22857/22857 [==============================] - 1s 48us/sample - loss: 0.3659 - acc: 0.8735
Epoch 10/50
22857/22857 [==============================] - 1s 48us/sample - loss: 0.3658 - acc: 0.8735
Epoch 11/50
22857/22857 [==============================] - 1s 55us/sample - loss: 0.3656 - acc: 0.8735
Epoch 12/50
22857/22857 [==============================] - 1s 60us/sample - loss: 0.3655 - acc: 0.8735
Epoch 13/50
22857/22857 [==============================] - 1s 52us/sample - loss: 0.3650 - acc: 0.8735
Epoch 14/50
22857/22857 [==============================] - 1s 53us/sample - loss: 0.3651 - acc: 0.8735
Epoch 15/50
22857/22857 [==============================] - 1s 51us/sample - loss: 0.3646 - acc: 0.8735
Epoch 16/50
22857/22857 [==============================] - 1s 56us/sample - loss: 0.3645 - acc: 0.8734
Epoch 17/50
22857/22857 [==============================] - 1s 59us/sample - loss: 0.3644 - acc: 0.8734
Epoch 18/50
22857/22857 [==============================] - 1s 63us/sample - loss: 0.3643 - acc: 0.87341s
Epoch 19/50
22857/22857 [==============================] - 1s 50us/sample - loss: 0.3641 - acc: 0.87351s - loss
Epoch 20/50
22857/22857 [==============================] - 1s 56us/sample - loss: 0.3642 - acc: 0.8733
Epoch 21/50
22857/22857 [==============================] - 1s 55us/sample - loss: 0.3638 - acc: 0.8736
Epoch 22/50
22857/22857 [==============================] - 1s 52us/sample - loss: 0.3637 - acc: 0.8736
Epoch 23/50
22857/22857 [==============================] - 2s 72us/sample - loss: 0.3638 - acc: 0.8734
Epoch 24/50
22857/22857 [==============================] - 2s 102us/sample - loss: 0.3636 - acc: 0.8733
Epoch 25/50
22857/22857 [==============================] - 2s 89us/sample - loss: 0.3635 - acc: 0.8735
Epoch 26/50
22857/22857 [==============================] - 2s 73us/sample - loss: 0.3633 - acc: 0.8735
Epoch 27/50
22857/22857 [==============================] - 1s 57us/sample - loss: 0.3632 - acc: 0.8734
Epoch 28/50
22857/22857 [==============================] - 1s 51us/sample - loss: 0.3631 - acc: 0.8734
Epoch 29/50
22857/22857 [==============================] - 2s 84us/sample - loss: 0.3628 - acc: 0.8735
Epoch 30/50
22857/22857 [==============================] - 1s 43us/sample - loss: 0.3631 - acc: 0.8734
Epoch 31/50
22857/22857 [==============================] - 1s 58us/sample - loss: 0.3630 - acc: 0.8736
Epoch 32/50
22857/22857 [==============================] - 2s 87us/sample - loss: 0.3626 - acc: 0.8736
Epoch 33/50
22857/22857 [==============================] - 2s 75us/sample - loss: 0.3628 - acc: 0.8737
Epoch 34/50
22857/22857 [==============================] - 1s 60us/sample - loss: 0.3627 - acc: 0.87371s - l
Epoch 35/50
22857/22857 [==============================] - 1s 55us/sample - loss: 0.3627 - acc: 0.8738
Epoch 36/50
22857/22857 [==============================] - 1s 55us/sample - loss: 0.3626 - acc: 0.8736
Epoch 37/50
22857/22857 [==============================] - 1s 59us/sample - loss: 0.3625 - acc: 0.8735
Epoch 38/50
22857/22857 [==============================] - 1s 40us/sample - loss: 0.3624 - acc: 0.8734
Epoch 39/50
22857/22857 [==============================] - 1s 44us/sample - loss: 0.3624 - acc: 0.8733
Epoch 40/50
22857/22857 [==============================] - 1s 47us/sample - loss: 0.3622 - acc: 0.8733
Epoch 41/50
22857/22857 [==============================] - 1s 41us/sample - loss: 0.3623 - acc: 0.8733
Epoch 42/50
22857/22857 [==============================] - 1s 56us/sample - loss: 0.3623 - acc: 0.8738
Epoch 43/50
22857/22857 [==============================] - 1s 62us/sample - loss: 0.3621 - acc: 0.8734
Epoch 44/50
22857/22857 [==============================] - 2s 99us/sample - loss: 0.3622 - acc: 0.8736
Epoch 45/50
22857/22857 [==============================] - 2s 70us/sample - loss: 0.3622 - acc: 0.8736
Epoch 46/50
22857/22857 [==============================] - 2s 68us/sample - loss: 0.3622 - acc: 0.8736
Epoch 47/50
22857/22857 [==============================] - 1s 65us/sample - loss: 0.3620 - acc: 0.8736
Epoch 48/50
22857/22857 [==============================] - 1s 61us/sample - loss: 0.3619 - acc: 0.8734
Epoch 49/50
22857/22857 [==============================] - 1s 57us/sample - loss: 0.3620 - acc: 0.8736
Epoch 50/50
22857/22857 [==============================] - 1s 58us/sample - loss: 0.3618 - acc: 0.8734
7620/7620 - 0s - loss: 0.3687 - acc: 0.8727
Loss: 0.368709228608239, Accuracy: 0.8727034330368042